{% extends 'front/master.html' %}
{% load static %}

{% block headblock %}

        <title>InvestSmart | Consulting</title>
        <meta charset="utf-8">

{% endblock %}

{% block mainblock %}

    <div class="site-section cta-big-image" id="about-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 text-center" data-aos="fade">
            <h2 class="section-title mb-3">Business Consulting</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="">
            <figure class="circle-bg">
            <img src="{% static 'front/images/about.jpg' %}" alt="Image" class="img-fluid">
            </figure>
          </div>
          <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="100">
            <div class="mb-4">
              <h3 class="h3 mb-4 text-black">For the next genration investment</h3>
              <p style="text-align:justify;">
                  Our management consulting services focus on our clients' most critical issues and opportunities: strategy, marketing, organization, operations, technology, transformation, digital, advanced analytics, corporate finance, mergers & acquisitions and sustainability across all industries and geographies.
                  There are certain criteria for seeing the financial and other aspects of the company to see how strong the company is.Fundamental analysis is the basis of primary selection of the companies for investment.
                  So we would be able to speculate the future of the market in advance.There are many aspects that directly or indirectly control the stock market. We keep a close watch on these factors that lets us predict the market more accurately.
              </p>

            </div>



            <div class="mb-4">
              <ul class="list-unstyled ul-check success">
                <li>Besides analyzing the stock market, we will also keep a watch on the overall economic condition of the country. </li>
                <li>Our team will guide you in your portfolio management by advising on other investments as well thus ensuring that your investments are always safe and profitable.</li>
              </ul>

            </div>



          </div>
        </div>
      </div>
    </div>

{% endblock %}