{% extends 'front/master.html' %}
{% load static %}

{% block headblock %}

        <title>InvestSmart | Investment</title>
        <meta charset="utf-8">

{% endblock %}

{% block mainblock %}

    <div class="site-section cta-big-image" id="about-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 text-center" data-aos="fade">
            <h2 class="section-title mb-3">Financial Investment</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="">
            <figure class="circle-bg">
            <img src="{% static 'front/images/about.jpg' %}" alt="Image" class="img-fluid">
            </figure>
          </div>
          <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="100">
            <div class="mb-4">
              <h3 class="h3 mb-4 text-black">For the next genration investment</h3>
              <p style="text-align:justify;">
                    Our financial advisors are responsible for more than just executing trades in the market on behalf of their clients.
                    They will use their knowledge and expertise to construct personalized financial plans that aim to achieve the financial goals of clients.These plans will include not only investments but also savings, budget, insurance, and tax strategies.
                    We’ll further check in with our clients on a regular basis to re-evaluate their current situation and future goals and plan accordingly.
                    Our group is also an educator. Part of our task is to help you understand what is involved in meeting your future goals. The education process may include detailed help with financial topics.
                    At the beginning of our relationship, those topics could be budgeting and saving. As the client advances in their knowledge, the advisor will assist them in understanding complex investment, insurance, and tax matters.
              </p>

            </div>



            <div class="mb-4">
              <ul class="list-unstyled ul-check success">
                <li>We’ll also touch upon more subjective topics, such as risk tolerance and risk capacity.</li>
                <li>We’ll synthesize all of the information into a comprehensive financial plan that will serve as a roadmap for your safe and secure financial future.</li>
              </ul>

            </div>



          </div>
        </div>
      </div>
    </div>

{% endblock %}