{% extends 'front/master.html' %}
{% load static %}

{% block headblock %}

        <title>{{ site.name }} | Stock</title>
        <meta charset="utf-8">

{% endblock %}

{% block mainblock %}

    <div class="site-section cta-big-image" id="about-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 text-center" data-aos="fade">
            <h2 class="section-title mb-3">Stock Price Predictions</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="">
            <figure class="circle-bg">
            <img src="{% static 'front/images/hero_1.jpg' %}" alt="Image" class="img-fluid">
            </figure>
          </div>
          <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="100">
            <div class="mb-4">
              <h3 class="h3 mb-4 text-black">For the next great business</h3>
              <p>Try checking predictions of any of these copanies and Invest smartly with us.</p>

            </div>



            <div class="mb-4">
              <ul class="list-unstyled ul-check success">
                {% for i in allstocks %}
                    <li><a href="{% url 'stock_detail' word=i.name %}">{{i.name}}</a> </li>
                {% endfor %}
              </ul>

            </div>



          </div>
        </div>
      </div>
    </div>

{% endblock %}