{% extends 'front/master.html' %}
{% load static %}

{% block mainblock %}
<section class="page-section about-heading">
    <div class="container">
      <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src=""{% static 'front/img/about.jpg' %}" alt="">
      <div class="about-heading-content">
        <div class="row">
          <div class="col-xl-9 col-lg-10 mx-auto">
            <div class="bg-faded rounded p-5">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">The key to earn fast is to invest smartly</span>
                <span class="section-heading-lower">About Our Website</span>
              </h2>
              <p>Founded in 2019 by students of IIITDM Jabalpur, an institute of national importance. Here we help you to understand stock easily and earn smartly.</p>
              <p class="mb-0">We guarantee that you will fall in <em>love</em> with our predictions and will visit us again and again.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}