{% extends 'front/master.html' %}
{% load static %}


{% block headblock %}
    <title>{{ site.Company_name }} | Home</title>
{% endblock %}


{% block mainblock %}
  <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'front/img/intro.jpg' %}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">Stock</span>
            <span class="section-heading-lower">What is Stock?</span>
          </h2>
          <p class="mb-3">A stock is an investment. When you purchase a company’s stock, you’re purchasing a small piece of that company, called a share. Investors purchase stocks in companies they think will go up in value. If that happens, the company’s stock increases in value as well. The stock can then be sold for a profit.
          </p>
          <div class="intro-button mx-auto">
            <a class="btn btn-primary btn-xl" href="#">Visit Us Today!</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section cta">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner text-center rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Our Promise</span>
              <span class="section-heading-lower">To You</span>
            </h2>
            <p class="mb-0">We make predictions on the basis of technical analysis using technical aspects integrated with Artificial Intelligence</p>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}